@import "~some/css.css";
@import "~some/css.css";
@import "css.css";
@import "css.css";
#it-works {
  color: hotpink;
}
.another-classical-css {
  background: hotpink;
}
.classical-css,
#it-works {
  background: hotpink;
}
.box {
  color: #fe33ac;
  border-color: #fdcdea;
  background: url(box.png);
}
.box div {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
#it-works {
  margin: 10px;
}
